.ControlsPanel__Wrapper {
  background-color: #28303a;
  position: fixed;
  color: #e6e7e7;
  left: 15px;
  top: 15px;
  bottom: 15px;
  z-index: 1;
  width: 290px;
  transition: all 0.3s ease-out;
}
.ControlsPanel {
  background-color: #262830;
  padding: 20px;
}
.ControlsPanel__EventLog {
  padding: 20px;
}
.ControlsPanel .ControlsPanel__Item {
  padding-bottom: 12px;
}
.ControlsPanel .ControlsPanel__Title,
.ControlsPanel__EventLog .ControlsPanel__Title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.ControlsPanel .AddPassangerButton {
  color: #e6e7e7;
  background-color: #6b7284;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-out .2s;
}
.ControlsPanel .AddPassangerButton:hover {
  color: #e6e7e7;
  background-color: #28303a;
}
.ControlsPanel ul {
  display: flex;
  width: 100%;
  padding: 0;
}
.ControlsPanel ul li {
  border: 2px transparent solid;
  border-radius: 3px;
  padding: 4px 5px;
  display: flex;
  justify-content: center;
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s;
  /* text-transform: capitalize; */
}
.ControlsPanel ul li:not(:first-child) {
  margin-left: 8px;
}
.ControlsPanel ul li:hover {
  border: 2px solid #6b7284
}
.ControlsPanel ul li.active {
  background: #6b7284;
  color: #28303a;
}
.ControlsPanel ul li.active:hover {
  color: #e6e7e7;
}
.ControlsPanel .ControlsPanel__Properties {
  display: flex;
  flex-direction: column;
}
.ControlsPanel .TripDetails .AddTripLabel {
  color: #6b7284;
}
.ControlsPanel .TripDetails .AddTripButton {
  color: #6b7284;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.ControlsPanel .TripDetails .AddTripButton:hover {
  color: #6b7284;
  background-color: #28303a;
}
.ControlsPanel .TripDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ControlsPanel .TripCancelButton,
.ControlsPanel .TripStartButton {
  font-family: 'Roboto', sans-serif;
  color: #28303a;
  font-weight: bold;
  background-color: #6b7284;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  transition: all ease .2s;
}
.ControlsPanel .TripStartButton {
  border-left: 2px solid #262830;
  border-radius: 0 3px 3px 0;
}
.ControlsPanel .TripStartButton:hover {
  color: #0f9667;
  background-color: #28303a;
}
.ControlsPanel .TripCancelButton:hover {
  color: #bb5268;
  background-color: #28303a;
}

.ControlsPanel__EventLog ul {
  list-style: none;
  padding: 0 15px;
  color: #6b7284;
}
.ControlsPanel__EventLog ul>.done>i {
  color: #0f9667;
  font-size: 8px;
  padding: 5px 5px 0px 0px;
  vertical-align: top;
}
.ControlsPanel__EventLog ul>.progress>i {
  /* color: #e6e7e7; */
  font-size: 8px;
  padding: 5px 5px 0px 0px;
  vertical-align: top;
  animation-name: log-list-current;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


.TransportInfo {
  padding: 20px;
}
.TransportInfo .TransportInfo__Title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
}
.TransportInfo.active {
  display: block;
  /*visibility: visible;*/
  /*height: auto;*/
}
.TransportInfo.hidden {
  display: none;
  /*visibility: hidden;*/
  /*height: 0;*/
  /*padding: 0;*/
}

@keyframes log-list-current {
  0%   {color: transparent;}
  50%  {color: #e6e7e7;}
  100% {color: transparent;}
}