body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main {
  position: relative;
}
.options-panel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.panel-type-icon {
  max-width: 30px;
  margin-right: 15px;
}
.close-panel-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 6px 10px
}
.close-panel-btn:hover {
  background-color: rgba(255,255,255,.1);
}
.line-list-item {
  background-color: #9f4;
  color: #000;
  border-radius: 4px;
  display: inline-block;
  font-size: 10px;
  padding: 1px 4px;
  margin: 0 2px;
  cursor: pointer;
}

.station-popup {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  background-color: #eee;
  padding: 10px;
}
.popup-title>h4 {
  margin: 6px 0;
  display: inline-block;
}
.popup-title>span {
  background-color: red;
  padding: 2px 4px;
  border-radius: 6px;
  margin-right: 4px;
  color: #fff;
}

.InfoOverlay {
  position: fixed;
  color: #e6e7e7;
  left: 320px;
  top: 15px;
  z-index: 1;
}
.InfoOverlay .InfoOverlay__City {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin: 0;
}
.InfoOverlay .InfoOverlay__City>img {
  width: 70px;
  height: auto;
  vertical-align: sub;
  margin-right: 15px;
  margin-bottom: 6px;
}

.InfoTimeOverlay {
  position: fixed;
  color: #e6e7e7;
  right: 20px;
  top: 15px;
  z-index: 1;
  text-align: right;
}
.InfoTimeOverlay .InfoOverlay__Time {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin: 0;
}
.InfoTimeOverlay .InfoOverlay__Transport {
  padding: 0;
}
.InfoTimeOverlay .InfoOverlay__Transport .transport-type {
  margin: 0 5px;
}
.InfoTimeOverlay .InfoOverlay__Transport .transport-type-color {
  height: 2px;
  width: 25px;
  margin: 4px;
  border-radius: 50%;
  display: inline-block;
}
