@import url('https://fonts.googleapis.com/css?family=Roboto|Marck+Script|Oswald:400,700');

/* main: #28303a */
/* secondary: #262830 */
/* accent: #6b7284 */
/* secondary-accent: #e6e7e7 */
/* success: #0f9667 */
/* danger: #bb5268 */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
